{% extends 'base.html' %}
{% block content %}
<h1>{% block title %}writing workouts{% endblock %}</h1>
{% for team_id in team_ids_to_groups.keys() %}
<p>{{ team_ids_to_names[team_id].lower() }} [<a href={{ url_for('write_team_id', id=team_id) }}>edit</a>]</p>
<ul>
  {% for group in team_ids_to_groups[team_id] %}
  <li>{{ group['name'].lower() }} [<a href={{ url_for('write_group_id', id=group['id']) }}>edit</a>] [<a href={{ url_for('workouts', group_id=group['id']) }}>workouts</a>] [<a href={{ url_for('write_workout', group_id=group['id']) }}>new workout</a>]</li>
  {% endfor %}
</ul>
{% endfor %}
<p>[<a href={{ url_for('write_team') }}>new team</a>] [<a href={{ url_for('write_group') }}>new group</a>]</p>
{% endblock %}
