{% extends 'base.html' %}
{% block links %}
<li><a href="{{ url_for('index') }}">home</a></li>
{% endblock %}
{% block content %}
<h1>{% block title %}writing a team{% endblock %}</h1>
{% if id %}
<p>editing</p>
{% endif %}
<form action={{ url_for('team') }} method="post">
  <label style='display: none;' for='id'>id</label>
  <input style='display: none;' type='text' id='id' name='id' value='{{ id }}'><br />
  <label for='name'>name</label>
  <input type='text' id='name' name='name' value='{{ name }}'><br />
  <label for='code'>code</label>
  <input type='text' id='code' name='code' value='{{ code }}'><br />
  <label for='image'>image</label>
  <textarea id='image' name='image'>{{ image }}</textarea><br />
  <label for='logo_width'>logo width</label>
  <input type='number' id='logo_width' name='logo_width' value='{{ logo_width }}'><br />
  <input type='submit' value='save'>
</form>
{% endblock %}
