{% extends 'base.html' %}

{% block title %}{{ team_name.lower() }} {{ group_name.lower() }} workouts{% endblock %}

{% block links %}
<li><a href="{{ url_for('index') }}">home</a></li>
{% if should_write %}
<li><a href="{{ url_for('write_workout', group_id=group_id) }}">write new workout</a></li>
{% endif %}
{% endblock %}

{% block content %}
<ul>
  {% for workout in workouts %}
  <li>
    <a href="{{ url_for('write_workout_id', id=workout['id']) }}">
      {{ workout['date'] }} {{ workout['time_of_day'] }} {{ workout['title'] }} {{ workout['distance'] }}
    </a>
  </li>
  {% endfor %}
</ul>

<a href="{{ url_for('workouts', group_id=group_id, page=page-1) }}">left</a>
<span>{{ page }}</span>
<a href="{{ url_for('workouts', group_id=group_id, page=page+1) }}">right</a>
{% endblock %}
