{% extends 'base.html' %}
{% block style %}
ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  border-radius: 5px;
  cursor: pointer;
  height: 14px;
}

.navigation {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  border-radius: 5px;
  cursor: pointer;
  height: 14px;
  width: 20%;
  text-align: center;
}

.page {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  border-radius: 5px;
  height: 14px;
  width: 5%;
  text-align: center;
}

.home {
  background-color: #ffffe0;
  text-align: center;
}

.new {
  background-color: #add8e6;
  text-align: center;
}

.date {
  font-weight: bold;
  color: #333;
  text-align: left;
  float: left;
  width: 25%;
}

.title {
  font-weight: bold;
  color: #555;
  text-align: center;
  float: left;
  width: 50%;
}

.distance {
  color: #888;
  text-align: right;
  float: right;
  width: 25%;
}
{% endblock %}
{% block content %}
<h1>{% block title %}{{ team_name.lower() }} {{ group_name.lower() }} workouts{% endblock %}</h1>
<ul>
  <li class="home" onclick="redirectToWorkout('{{ url_for('index') }}')">
    <div class="date">&nbsp;</div>
    <div class="title">home</div>
    <div class="distance">&nbsp;</div>
  </li>
  {% if should_write %}
  <li class="new" onclick="redirectToWorkout('{{ url_for('write_workout', group_id=group_id) }}')">
    <div class="date">&nbsp;</div>
    <div class="title">write new workout</div>
    <div class="distance">&nbsp;</div>
  </li>
  {% endif %}
  {% for workout in workouts %}
  <li onclick="redirectToWorkout('{{ url_for('write_workout_id', id=workout['id']) }}')">
    <div class="date">{{ workout['date'] }} {{ workout['time_of_day'] }}</div>
    <div class="title">{{ workout['title'].lower() }}</div>
    <div class="distance">{{ workout['distance'] }}</div>
  </li>
  {% endfor %}
</ul>
<div class="navigation" style="float: left;{% if page - 1 <= 0 %}visibility: hidden;{% endif %}" onclick="redirectToWorkout('{{ url_for('workouts', group_id=group_id, page=page-1) }}')">previous</div>
<div style="width: 23%;float: left;">&nbsp;</div>
<div class="page" style="float: left;">{{ page }}</div>
<div class="navigation" style="float: right;" onclick="redirectToWorkout('{{ url_for('workouts', group_id=group_id, page=page+1) }}')">next</div>
<script>
function redirectToWorkout(url) {
  window.location.href = url;
}
</script>
{% endblock %}
