{% extends 'base.html' %}
{% block style %}
/* Styles for the table */
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:first-child {
  font-weight: bold;
}

/* Styles for alternating row colors */
tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:nth-child(odd) {
  background-color: #ffffff;
}

textarea {
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: #f2f2f2;
  resize: none;
}

.go_home {
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    background-color: #ffffe0;
    border-radius: 5px;
    cursor: pointer;
    height: 14px;
}

.go_to_workouts {
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
  background-color: #90EE90;
  border-radius: 5px;
  cursor: pointer;
  height: 14px;
}
{% endblock %}
{% block content %}
<h1>{% block title %}writing a {{ group['name'].lower() }} workout{% endblock %} <span id="edited" style="color: red"></span></h1>
{% if not group %}
<p> uhh this isn't an actual group you can write workouts for </p>
{% else %}

<a href="{{ url_for('index') }}">home</a>
<a href="{{ url_for('workouts', group_id=group['id']) }}">all {{ team['name'].lower() }} {{ group['name'].lower() }} workouts</a>

<table id="summaryTable"></table><br />
<form action={{ url_for('workout', group_id=group['id']) }} method="post" style="display: inline;">
  <label for='id' style='display: none;'>id</label>
  <input type='text' id='id' name='id' style='display: none;' value='{{ id }}'>
  <label for='date'>date</label>
  <input type='text' pattern="\d\d\d\d-\d\d-\d\d" id='date' name='date' value='{{ date or today }}'  maxlength="10" size="10">
  <input type="radio" id="am" name="timeOfDay"><label for="am">AM</label>
  <input type="radio" id="pm" name="timeOfDay" checked><label for="pm">PM</label>
  <label for='title'>title</label>
  <input type='text' id='title' name='title' value='{{ title }}' style="width: 160px;">
  <label for='rest_interval'>rest</label>
  <input type='text' pattern="\d*" maxlength="4" size="4" id='rest_interval' name='rest_interval' value='{{ rest_interval or 2 }}'>
  <input type='text' id='total_yards' name='total_yards' style="display: none;">
  <label for='last_pace'>pace</label>
  <input type='text' id='last_pace' name='last_pace' maxlength="7" size="7"><br /><br />
  <textarea id='workout' name='workout_text' style='width: 100%;height: 50vh' rows='50' onkeyup='process(event, this)'>{{ workout_text }}</textarea><br />
  {% if should_save %}<input type="submit" style="width: 100px;height: 50px" value="save">{% endif %}
</form>
{% if id and should_save %}
<form style="display: inline;" action={{ url_for('delete_workout', workout_id=id) }}>
  <input style="width: 100px;height: 50px" type='submit' value='delete'>
</form>
{% endif %}

<form onsubmit='download_seconds()' action={{ url_for('download_seconds') }} method="post" style="display: inline;">
  <input style='display: none;' type='text' name='seconds_json' id='seconds_json'>
  <input style='display: none;' type='text' name='date' id='seconds_date'>
  <input style='display: none;' type='text' name='group' id='seconds_group'>
  <input style='display: none;' type='text' name='team' id='seconds_team'>
  <input style="width: 100px;height: 50px" type="submit" value="seconds">
</form>

<form onsubmit='download_pdf()' style="display: inline;">
  <input style="width: 100px;height: 50px" type="submit" value="pdf">
</form>

<script src="https://unpkg.com/jspdf@latest/dist/jspdf.umd.min.js"></script>
<script src={{ url_for('static', filename='seconds_to_string.js') }}></script>
<script src={{ url_for('static', filename='time_string_to_seconds.js') }}></script>
<script src={{ url_for('static', filename='set_line_to_json.js') }}></script>
<script src={{ url_for('static', filename='round_line_to_rounds.js') }}></script>
<script src={{ url_for('static', filename='workout_text_to_json.js') }}></script>
<script src={{ url_for('static', filename='note_line_to_json.js') }}></script>
<script src={{ url_for('static', filename='title_to_subgroups.js') }}></script>
<script src={{ url_for('static', filename='title_without_subgroups.js') }}></script>
<script src={{ url_for('static', filename='get_all_subgroups_data.js') }}></script>
<script src={{ url_for('static', filename='workout_json_to_pdf.js') }}></script>
<script src={{ url_for('static', filename='workout_json_to_seconds.js') }}></script>
<script src={{ url_for('static', filename='subgroups_data_to_table.js') }}></script>
<script src={{ url_for('static', filename='subgroups_data_to_max_yards.js') }}></script>
<script src={{ url_for('static', filename='line_json_to_text.js') }}></script>
<script src={{ url_for('static', filename='workout_json_to_last_pace.js') }}></script>
<script>
  let workout_json = {};
  let subgroups_data = {};
  let workout_metadata = {};
  const process = (e) => {
      // Set Workouts Global
      let text_area = document.getElementById('workout').value;
      let rest_seconds = time_string_to_seconds(document.getElementById("rest_interval").value);
      workout_json = workout_text_to_json(text_area, rest_seconds);

      // Set Subgroups Global
      subgroups_data = get_all_subgroups_data(workout_json);

      // Get Last Pace
      document.getElementById('last_pace').value = seconds_to_string(workout_json_to_last_pace(workout_json), short_format = true)

      // Set Workout Metadata Global
      workout_metadata = {
	  "team": "{{ team['name'] }}",
	  "group": "{{ group['name'] }}",
	  "title":  document.getElementById('title').value,
	  "date": document.getElementById('date').value.replace("/", "-"),
	  "time_of_day": document.getElementById('pm').checked ? "PM" : "AM"
      };

      // Update Table
      const container = document.getElementById('summaryTable');
      const table = subgroups_data_to_table(subgroups_data);
      container.innerHTML = '';
      container.appendChild(table);

      // Update Max Yards in Background
      document.getElementById('total_yards').value = subgroups_data_to_max_yards(subgroups_data);
  };

  process();

  const download_pdf = () => {
      workout_json_to_pdf(workout_json, workout_metadata, subgroups_data, "{{ team['image'] }}", {{ team['logo_width'] }});
  };

  const download_seconds = () => {
      let seconds = workout_json_to_seconds(workout_json, workout_metadata, subgroups_data);
      document.getElementById('seconds_json').value = JSON.stringify(seconds);
      document.getElementById('seconds_date').value = workout_metadata["date"];
      document.getElementById('seconds_group').value = workout_metadata["group"];
      document.getElementById('seconds_team').value = workout_metadata["team"];
  };
</script>
{% endif %}
{% endblock %}
